.box {
  border: 0px solid black;
  background-color: pink;
  height: 100px;
  width: 100px;
  /* 변형 관련된 */
  /* transform: rotate(각도) scale(크기) */

  /* 변형이 일어날 때, 어떻게 적용 시킬지. */
  transition: all 1s;
}
/* opacity: 0; */
/* hover(마우스 올리면 아래꺼 적용됨) */
/* 마우스 올리면 사라지기 opacity 투명도 */
.box:hover {
  /* border-radius: 9999px; */
  /* background-color: yellow;
  font-size: 100px; */
  transform: rotate(45deg) scale(2);
}
